[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
tweepy = "*"
spacy = "*"
pip = "*"
setuptools = "*"
wheel = "*"
sklearn = "*"
numpy = "*"
flask-session = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
