<html>
    <head>
        <link rel="icon" href="data:;base64,=">
    </head>
    <body>
        <h1 style="text-align: center;">About This App</h1>
        <p style="text-align: center; font-size: x-large; padding:0% 25%;">
            This is a proof of concept application created for the DS31 Unit 3 
            Sprint 3 portion of the Lambda School curriculum, created by 
            Ryland Gomez. In short, this application utilizes Twitter's API to 
            analyze two users' recent tweets and, given a hypothetical novel 
            tweet, predicts which of the two users would have likely created 
            the tweet.
        </p>
        <br>
        <h4 style="text-align: center;"><a href="/">Click here to return to main menu.</a></h4>
    </body>
</html>